#page h1.page-title, #post>#post-info {
text-align: center;
}
@font-face {
  font-family: "iconfont"; /* Project id 2750166 */
  src: url('//at.alicdn.com/t/font_2750166_m7zydvptap9.woff2?t=1629181710890') format('woff2'),
       url('//at.alicdn.com/t/font_2750166_m7zydvptap9.woff?t=1629181710890') format('woff'),
       url('//at.alicdn.com/t/font_2750166_m7zydvptap9.ttf?t=1629181710890') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gmail:before {
  content: "\e6a5";
  font-size: 22px;
}

.icon-github:before {
  content: "\ea0b";
  font-size: 22px;
}

.icon-weibo:before {
  content: "\e63e";
  font-size: 22px;
  color:#d81e06
}

.icon-RSS:before {
  content: "\e78a";
  font-size: 22px;
  color:#13227a
}

.icon-zhihu:before {
  content: "\e602";
  font-size: 22px;
  color:#1296db
}

.icon-telegram:before {
  content: "\e731";
  font-size: 22px;
  color:#1296db
}

.icon-bilibili-fill:before {
  content: "\e62a";
  font-size: 22px;
  color:#d4237a
}

.icon-qq:before {
  content: "\e600";
  font-size: 22px;
  color: rgb(16,164,255);
}

.icon-wechat:before {
  content: "\e601";
  font-size: 22px;
  color:#00bf03
}

